[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "lib-externes/Delphi-Game-Engine"]
	path = lib-externes/Delphi-Game-Engine
	url = https://github.com/DeveloppeurPascal/Delphi-Game-Engine.git
[submodule "lib-externes/Socket-Messaging-Library"]
	path = lib-externes/Socket-Messaging-Library
	url = https://github.com/DeveloppeurPascal/Socket-Messaging-Library.git
